@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;400;700&display=swap");

body {
  background: #0e1422;
  font-family: "Inter", sans-serif;
  color: #11bfba;
  font-size: 16px;
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

.App {
  display: flex;

  & .LeftPanel {
    display: flex;
    flex-direction: column;
    flex: 0.35;
    text-align: center;
    padding: 2rem;
    background: #0c111e;

    & .info {
      display: flex;
      flex: 1;
      align-items: center;
      flex-direction: column;

      &.top {
      }
      &.bottom {
        justify-content: flex-end;
      }
    }

    & .SpeedData {
      display: flex;
      flex-direction: column;

      & > span {
        &.kmph {
          font-size: 128px;
          font-weight: bold;
          line-height: 100px;

          & + span {
            font-size: 64px;
            font-weight: lighter;
            margin-bottom: 32px;
          }
        }
        &.trueKmph {
          font-size: 32px;
        }
      }
    }
  }
  & .CenterPanel {
    display: flex;
    flex: 1;
    padding: 2rem;
    height: 100vh;
    overflow: auto;

    & .InfoWrapper {
      display: flex;
      flex-direction: column;
      flex: 0.96;

      & .InfoPill {
        display: flex;
        flex-direction: column;
        margin-bottom: 32px;

        & .label {
          font-weight: normal;
          margin-bottom: 16px;
          opacity: 0.8;
        }
        & .data {
          margin-bottom: 4px;
        }
        & .graph {
        }
      }
    }
  }
  & .RightPanel {
    display: flex;
    flex-direction: column;
    flex: 0.8;
    text-align: center;
    padding: 2rem;
    background: #0c111e;

    & .VehPos {
      display: flex;
      flex: 1;
      position: relative;
      flex-direction: column;

      & .VehPosLabel {
        display: flex;
        flex: 1;
        padding: 16px;
        position: absolute;
        width: 100%;

        & > dl {
          display: flex;
          flex: 1;
          flex-direction: column;

          & dt {
            margin: 0;
            padding: 0 0 4px;
          }
          & dd {
            margin: 0;
            padding: 0;
          }
        }
      }
    }
  }
}
